<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <h1>This is The home page</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione inventore at a doloremque. Minima iure voluptatum ipsam, doloribus doloremque nisi, fugiat nesciunt sunt laboriosam consequatur ea ullam? Et, placeat explicabo?
        Adipisci, delectus reprehenderit? Cupiditate quaerat delectus tenetur hic, quos laudantium quod doloremque. Consequuntur quibusdam quis ipsam vitae praesentium voluptatum error nulla sequi animi repudiandae! Temporibus dignissimos repellat ex unde similique!
    </p>
</body>
</html>