<div class="single-sidebar-widget post-category-widget">
    <h4 class="category-title">Post Catgories</h4>
    <ul class="cat-list">
        {% for category, count in categories.items %}
            {% if count > 0 %}
            <li>
                <a href="{% url 'blog:category' category_name=category %}" class="d-flex justify-content-between">
                    <p>{{ category }}</p>
                    <p>{{ count }}</p>
                </a>
            </li>
            {% endif %}
        {% endfor %}							
    </ul>
</div>